{#
/**
 * @file
 * Template primary and secondary local tasks.
 *
 * TODO: See if nav can use SDC Component
 */
#}
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul class="nav nav-tabs mb-3">{{ primary }}</ul>
{% endif %}

{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul class="nav nav-pills">{{ secondary }}</ul>
{% endif %}
