{#
/**
 * @file
 * Template for a Figure component.
 *
 * Available config:
 * - url: string
 * - alt: string
 * - responsive: true | false
 * - caption_align: start|end|center
 */
#}
{% set classes = [
  'figure',
] %}

{% set img_classes = [
  'figure-img',
  'img-fluid'
] %}

<figure{{ attributes.addClass(classes) }}>
  {% block image %}
    {# TODO: Use sdc_test:image component #}
    <img src={{ url }} class="{{ img_classes | join(' ') }}" alt="{{ alt }}" />
  {% endblock %}

  {% if caption %}
    <figcaption class="figure-caption{{ caption_align ? ' text-' ~  caption_align }}">
      {% block caption %}
        {{ caption }}
      {% endblock %}
    </figcaption>
  {% endif %}
</figure>
