{#
/**
 * @file
 * Template for a Block component.
 *
 * Available config:
 * - html_tag: The HTML tag for the block.
 * - heading_level: 1 | 2 | 3 | 4 | 5 | 6
 */
#}

{# TODO: port #}

{% set block_classes = [
  'block',
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
] %}

{% set heading_level = heading_level ? 2 %}

{% if html_tag %}
  <{{ html_tag }}{{ attributes|without('id').addClass(block_classes) }}>
{% endif %}

  {{ title_prefix }}
  {% if label %}
    {% block label %}
      <h{{ heading_level }}{{ title_attributes }}>{{ label }}</h{{ heading_level }}>
    {% endblock %}
  {% endif %}
  {{ title_suffix }}

  {% if content %}
    {% block content %}
      {{ content }}
    {% endblock %}
  {% endif %}

{% if html_tag %}
  </{{ html_tag }}>
{% endif %}
