{#
/**
 * @file
 * Template for links.
 */
#}
{% if links -%}
  {% embed 'sdc_test:nav' with {
    items: links,
  } %}

    {% block listItems %}
      {% for item in links %}
        <li{{ item.attributes.addClass('nav-item') }}>
          {%- if item.link -%}
            <span{{ item.link.text_attributes.addClass('nav-link') }}>{{ item.link }}</span>
          {%- elseif item.text_attributes -%}
            <span{{ item.text_attributes.addClass('nav-link') }}>{{ item.text }}</span>
          {%- else -%}
            <span class="nav-link">{{ item.text }}</span>
          {%- endif -%}
        </li>
      {% endfor %}
    {% endblock %}
  {% endembed %}
{%- endif %}
