{#
/**
 * @file
 * Template for Badge component.
 *
 * Available config:
 * - type: primary | secondary | success | danger | warning | info | light | dark
 * - text_color: light | dark
 * - rounded: true | false
 * - content: string
 * - attributes: Drupal Attribute object.
 */
#}

{% set badge_classes = [
  'badge',
  type ? 'bg-' ~ type,
  rounded ? 'rounded-pill',
  text_color ? 'text-' ~ text_color,
] %}

<span{{ attributes.addClass(badge_classes) }}>
  {{ content }}
</span>
