
{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{% include "sdc_test:button" with {
  type: 'primary',
  tag: 'input',
  content: attributes.value,
  attributes: attributes.removeAttribute('value')
} %}
