{#
/**
 * @file
 * Template for the main page.
 */
#}

{% if page_attributes is empty %}
  {% set page_attributes = create_attribute() %}
{% endif %}

{% set page_classes = [
  'page'
]|merge(page_utility_classes ? page_utility_classes : []) %}

<div {{ page_attributes.addClass(page_classes) }}>
  {% block page_header %}
    {% include 'sdc_test:header' %}
  {% endblock %}

  {% block page_content %}
    {% include 'sdc_test:main' %}
  {% endblock %}

  {% block page_footer %}
    {% include 'sdc_test:footer' %}
  {% endblock %}
</div>
