{#
/**
 * @file
 * Template for a button component.
 *
 * Available config:
 * - type: primary | secondary | success | danger | warning | info | light | dark
 * - outline: true | false
 * - tag: button, a, input
 * - url: string
 * - disabled: true | false
 * - content: string
 * - attributes: Drupal Attribute object.
 */
#}

{% set type = type ?? 'primary' %}

{% set button_classes = [
  'btn',
  (type ? 'btn-' ~ (outline ? 'outline-') ~ type),
  size ? 'btn-' ~ size,
] %}

{% if tag == 'a' and url is not empty %}
  {% set attributes = attributes.setAttribute('href', url) %}
{% endif %}

{% if disabled %}
  {% set attributes = attributes.setAttribute('disabled', TRUE) %}
{% endif %}

{% if tag != 'input' %}
  <{{ tag }}{{ attributes.addClass(button_classes) }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </{{ tag }}>
{% else %}
  <input{{ attributes.addClass(button_classes) }} value="{{ content }}">
{% endif %}





